---
import Slider from '../base/Slider'

const allImages = import.meta.glob(
  "/src/assets/gallery/**/*.{jpg,jpeg,png,webp}",
  {
    eager: true,
    as: "url",
  }
);

// Define a generic function that shuffles an array of any type
const shuffle: <T>(arr: T[]) => T[] = (arr) =>
  [...arr].sort(() => Math.random() - 0.5);

// Shuffle images and extract URLs
const galleryImages = shuffle(
  Object.entries(allImages) // Convert the images object into an array of [key, url] pairs
    .map(([_, url]) => url) // Extract only the URL
);
---

<section
  id="banners"
  class:list={[
    "relative",
    "h-screen",
    "min-h-[600px]",
    "overflow-hidden",
  ]}
>
  <Slider 
    client:load
    images={galleryImages}
    height="h-screen min-h-[600px]"
    autoplay={true}
    autoplayDelay={5000}
    showNavigation={true}
    showPagination={true}
    effect="fade"
    loop={true}
  />
</section>
