---
interface Props {
  currentPage?: string // Current page
  lang?: string // Language parameter
}
const { currentPage, lang } = Astro.props as Props

// Libs
import { useTranslations } from '../../i18n/utils'

// i18n
const t = useTranslations((lang as 'en' | 'es') || 'en')

// Data
import { domain } from '../../data/setup'
import {
  phoneUnformatted,
  email,
  addressElems,
  socialNetworks,
} from '../../data/contact'
import { servicesData } from '../../data/servcies'

// Get page metadata from i18n
const title = 'Ella Skin & Spa Wellness'
const pageName = t(`meta.${currentPage}.page`)
const description = t(`meta.${currentPage}.description`)
const url = domain // Make sure this is dynamic if needed
const image = '/imgs/logo.webp' // Make sure this is the full URL if needed
const type = 'website'
const twitterHandle = '@DeveloperDari'
let keywords = t(`meta.${currentPage}.keywords`)
if (typeof keywords === 'string') {
  keywords = keywords.split(',').map((keyword) => keyword.trim())
}

// Split keywords into an array if it's a string
const keywordsContent = Array.isArray(keywords) ? keywords.join(', ') : keywords

let pageTitle
if (currentPage == 'home') {
  pageTitle = pageName
} else {
  pageTitle = `${pageName} | ${title}`
}

// Generate data
const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'LocalBusiness',
  name: pageTitle,
  description: description,
  url: domain,
  logo: `${domain}/imgs/logo.webp`,
  image: `${domain}/imgs/logo.webp`,
  telephone: phoneUnformatted,
  email: email,
  priceRange: '$',
  serviceArea: ['Yucatan', 'Mexico'],
  address: {
    '@type': 'PostalAddress',
    ...addressElems,
  },
  sameAs: [...socialNetworks.map((social) => social.link)],
  // "weekdays": "Monday to Friday from 10 am to 8 pm | (More early with prior appointment)",
  //     "saturday": "Saturdays from 11 am to 5 pm | (More early with prior appointment)",
  //     "sunday": "Sundays (Prior appointment)"
  openingHoursSpecification: [
    {
      '@type': 'OpeningHoursSpecification',
      dayOfWeek: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      opens: '10:00',
      closes: '20:00',
    },
    {
      '@type': 'OpeningHoursSpecification',
      dayOfWeek: 'Saturday',
      opens: '11:00',
      closes: '17:00',
    },
  ],
  makesOffer: [
    ...Object.keys(servicesData).map((serviceKey) => ({
      '@type': 'Offer',
      name: t(`services.cards.${serviceKey}.name`)?.replaceAll('*', ''),
      description: t(`services.cards.${serviceKey}.description`)?.replaceAll(
        '*',
        ''
      ),
      url: `${domain}/${lang}#service-${serviceKey.toLowerCase()}`,
    })),
  ],
}

// Page slug — we assume `currentPage` is the slug, e.g., 'gallery'
const pageSlug = currentPage === 'home' ? '' : `/${currentPage}`

// Canonical URL for this language
const canonicalUrl = `${domain}/${lang}${pageSlug}`

// Alternate URLs
const alternateUrls = {
  en: `${domain}/en${pageSlug}`,
  es: `${domain}/es${pageSlug}`,
}
---

<!-- Html tags -->
<title>{pageTitle}</title>
<meta
  name='description'
  content={description}
/>
{
  keywordsContent && (
    <meta
      name='keywords'
      content={keywordsContent}
    />
  )
}
<link
  rel='canonical'
  href={url}
/>
<meta
  name='author'
  content="Dari Dev's Team"
/>

<!-- Open Graph tags -->
<meta
  property='og:type'
  content={type}
/>
<meta
  property='og:title'
  content={`${pageName} | ${title}`}
/>
<meta
  property='og:description'
  content={description}
/>
<meta
  property='og:url'
  content={url}
/>
<meta
  property='og:image'
  content={image}
/>

<!-- Twitter tags -->
<meta
  name='twitter:card'
  content='summary_large_image'
/>
<meta
  name='twitter:site'
  content={twitterHandle}
/>
<meta
  name='twitter:title'
  content={`${pageName} | ${title}`}
/>
<meta
  name='twitter:description'
  content={description}
/>
<meta
  name='twitter:image'
  content={image}
/>

<!-- Json Ld -->
<script
  type='application/ld+json'
  set:html={JSON.stringify(jsonLd)}
/>

<!-- Sitemap -->
<link
  rel='sitemap'
  href='/sitemap-index.xml'
/>

<!-- Lang -->
<link
  rel='canonical'
  href={canonicalUrl}
/>
<link
  rel='alternate'
  hreflang='en'
  href={alternateUrls.en}
/>
<link
  rel='alternate'
  hreflang='es'
  href={alternateUrls.es}
/>
